.Button {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 20%;
    border-width: 0.3rem;
}

.withoutBorder {
    border: none;
    background-color: transparent;
    color: #817678;
}

.button__full {
    color: #f8f3f5;
    border-style: solid;
    border-color: #ff866b;
    background-color: #ff866b;
}