.PhilosophySection {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  color: #2b161b;
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-family: 'Cookie', cursive;
  font-weight: 400;
  font-size: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2vh 0;
}

.notesContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.notes {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}