.Button {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border-width: 0.3rem;
}

.button__withoutBorder {
    color: #817678;
    background-color: transparent;
    border: none;
}

.button__empty {
    color: #817678; 
    background-color: transparent;
    border-style: solid;
    border-color: #817678;
}

.button__withoutBorder:hover,
.button__empty:hover {
    color: #2b161b;
    transition: all .2s linear;
}

.button__full {
    color: #f8f3f5; 
    background-color: #ff866b;
    border-style: solid;
    border-color: #ff866b;
}

.button__full:hover {
    color: #f8f3f5;
    background-color: #f1511b;
    border-color: #f1511b;
    transition: all .2s linear;
}
