.SectionTitle {
    width: 100%;
    display: flex;
    justify-content: center;
}

.titleText {
    font-size: 2.5rem;
    font-weight: 600;
    width: fit-content;
    padding-bottom: 2rem;
    margin: 2rem 0 1rem 0;
    position: relative;
    float: left;
}

.color__2b161b {
    color: #2b161b;
}

.titleText::after {
    content: "";
    background: #fe8d74;
    position: absolute;
    right: 25%;
    bottom: 0; 
    width: 50%;
    height: 2px;
}